header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 1;
  }
  body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    margin: 0;
  }

   .header__logo {
    height: 30px;
   }
   a {
    text-decoration: none;
    color: #213053;
  }
  header a {
    font-size: 15px;
    font-weight: 600;
    margin-right: 25px;
  }
  
  button {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
    padding: 15px;
  }

  .about__image {
    width: 500px;
    position: relative;
  }
   
  .about__sun-image {
    width: 100px;
    height: 100px;
    animation: rotation 10s linear infinite;
    position: absolute;
    
  }
  .about {
    display: flex;
    justify-content: space-around;
    align-items: center
    padding-bottom: 115px;
    padding-top: 115px;
    background: url('img/back.png') no-repeat; 
    background-position: center;
    background-size: cover;
  }

  .about h1 {
    font-size: 70px;
    line-height: 76px;
  }
  .about p {
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
  }

  .about button {
    font-size:18px; 
    border-radius: 20px; 
    padding: 20px 25px;
    margin-top: 20px;

  }
.about__info {
    max-width: 550px;
}

.form__container {
  width: 550px;
}

.form {
  background-color: #1D263A;
  color: #fff;
  padding-top: 115px;
  padding-bottom: 115px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.form h1 {
  font-size:48px;
}
.form p {
  font: size 16px;
  opacity: 0.65;
}

.form__group {
  display: flex;
  flex-direction: column;
  text-align: left;

}

.form form {
  display: grid;
  grid-gap: 20px;
  margin-top: 60px;
}

.form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form input {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  
}

.form select {
  font-size: 18px;
  color: #213053;
  height: 60px;
  padding: 0 20px;
  border-radius: 15px;
  border: none; 
  outline: none;

}
.form__submit {
  font-size: 18px;
  font-weight: 600;
  margin-top: 40px;

}

select {
  appearance: none;
}

input {
  outline: none;
}

button:hover {
  background-color:#16a085;
  box-shadow: 0 16px 36px rgba(246 152 12 / 20%);
  transition:background-color 0.3s ease-in;
}


footer {
padding: 90px 20px;
font-size: 16px;
font-weight: 600;
display: flex;
flex-direction: column;

}

.footer__group {
  margin-right: 80px;
}
.footer__container {
  display: flex;
  justify-content: space-between;;
}

.footer__copy {
  margin-top: 40px;
  text-align: center;
  opacity: 0.5;
  margin-right: 80px;
}

.footer h3 {
  opacity: 0.7;
  font-size: 16px;
  margin-bottom: 30px;
}
.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__links a {
  margin-bottom: 15px;
}


@keyframes rotation{
  0%{
    transform: rotate(0 );
  }

  100%{
    transform: rotate(360deg);
  }
}



@media (max-width: 1024px) {
  .about {
      padding: 115px 20px;
  }

  .about h1 {
      font-size: 36px;
      line-height: 40px;
  }

  .about__image {
      width: 280px;
  }

  .about__sun-image {
      width: 75px;
      height: 75px;
  }

}


@media (max-width: 720px) {
  header {
      padding: 10px;
  }

  .header__logo {
      height: 20px;
  }

  header a {
      margin-right: 10px;
  }

  .about {
      flex-direction: column-reverse;
      padding: 50px 10px;
  }

  .about h1 {
      font-size: 36px;
      line-height: 40px;
  }

  .about__image {
      width: 280px;
  }

  .about__sun-image {
      width: 75px;
      height: 75px;
  }

  .form {
      padding: 50px 10px;
  }

  .form h1 {
      font-size: 36px;
  }

  footer {
      padding: 50px 10px;
  }

  .footer__container {
      flex-direction: column;
  }

  .features {

    background-color: white;
    padding: 50px 10px
  }
  .cards {
    grid-template-columns: auto;
}
.features__feedback {
  flex-direction: column;
}

.features__feedback-left {
  margin-right: 0;
}

.features__feedback-left h2, .features__box h3 {
  font-size: 36px;
}

.features__feedback-left p{
  font-size: 18px;
  Line-height: 26px;
  opacity: 0.7
}
.features__feedback-right {
  flex-direction: column;
  align-items: initial;
}
.features__savings-box {
  margin-right: 0;
  margin-bottom: 30px;
}
}

.features {
background-color: #fff;
padding: 115px  60px;

}

.cards {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  padding: 35px 40px 25px 40px;
  background: #FFFFFF;
  border: 1px solid #D9E4E6;
  border-radius: 5px;
}
.animate__animated.animate__backInRight {
  animate-duration: 2s;
}

.animate__animated.animate__backInLeft {
  animate-duration: 2s;
}

.card__logo {

  height: 100px;
  width: 100px;
  font-size: 32px;
  font-weight:700;
  background-color: #eaeff9;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card p {
  opacity: 0.8;
  font-size: 16px;
  line-height: 22px;
}

.card__logo.yellow {
  background-color: #f4c24e;

}

.card__logo.red {
  background-color: #a0cbf3;
}

.card__logo.green {
  background-color: #a8f7b1;
}

.features__border {
  width: 100%;
  border: 1px solid #E6EAF4;
  margin-top: 50px;
  margin-bottom: 50px;
}

.features__feedback{
  display: flex;
}

.features__feedback-left {
  margin-right: 10px;
}

.features__feedback-left h2 {
  font-size: 48px;
}

.features__feedback-left p {
  font-size: 18px;
  opacity: 0.7;
  line-height: 26px;
}

.features__feedback-right {
  display: flex;
  align-items: center;
}

.features__box {
  border-radius: 25px;
  padding: 30px 40px 25px 40px;
  background-color: white;
}

.features__box h3 {
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}

.features__savings-box {
  background-color: #c1f5fd;
  box-shadow: 0 6px 0 rgb(221 95 38 / 20%);
  margin-right: 30px;
}

.features__rate-box {
  background-color: #dedbf8;
  box-shadow: 0 6px 0 rgb(29 38 58 / 20%);
}

.stars {
  color: #ff7039;
}

.promo {
  display: flex;
}

.img_promo {
    background-position: center;
    max-width: 100%;
    width: auto;
}

.promo__right {
    background: #b1f6fd;
    padding: 160px 60px;
}

.promo__text p::before {
    content: '';
    display: inline-block;
    width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: #295dec;
   margin-right: 10px;
}

.promo__text button {
    background-color: #107b1c;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 16px 36px rgb(16 122 28 / 30%);
    padding: 15px 30px;
}

.promo__button-wrap {
    display: flex;
    justify-content: center;
}

.promo__text button i {
    font-size: 15px;
    margin-left: 5px;
}